{% extends 'layout/student_header.html' %}
{% block content_header_end %}
  <h2>Welcome! {{ auth_user.first_name }} </h2>
{% endblock %}
{% block student_details %}
<hr>
    <div class="hero">
      <div class="right">
          <p class="title">Based on our system calculations</p>
          <p class="prediction_label1" style="color: grey; font-weight: bold; font-size: x-large;">{{ prediction_label1 }}</p>
          <p class="prediction_label2" style="color: grey; font-weight: bold; font-size: x-large;">{{ prediction_label2 }}</p> 
          <p class="prediction_label3" style="color: grey; font-weight: bold; font-size: x-large;">{{ prediction_label3 }}</p>
          <p class="prediction_label4" style="color: grey; font-weight: bold; font-size: x-large;">{{ prediction_label4 }}</p>
          <p class="prediction_label5" style="color: grey; font-weight: bold; font-size: x-large;">{{ prediction_label5 }}</p>
        <hr>
          <p class="label_text1" style="color: grey; font-weight: bold; font-size: x-large;">{{ label_text1 }}</p>
          <p class="label_text2" style="color: grey; font-weight: bold; font-size: x-large;">{{ label_text2 }}</p>
          <div class="anchorCon">
            <a href="/cs_dashboard" style="border-color: black;"><h4 class="csDep">Predict Again</h4></a>
          </div>
      </div>
      <div class="left">
          <div class="center-div">
            <div class="infoCS"><button class="btn" data-popup-open="popupID" >?</button></div>
            <hr>
            <center><p class="job_label2">{{ job_label2 }}</p></center>
            <center><p class="job_label1">{{ job_label1 }}</p></center>
            <hr>

            <center><p id="prediction_text2" class="pred_label1">{{ prediction_text2 }}</p></center>
            <center><p id="prediction_text3" class="pred_label1">{{ prediction_text3 }}</p></center>
            <center><p id="prediction_text4" class="pred_label1">{{ prediction_text4 }}</p></center>
            <center><p id="prediction_text1" class="pred_label1">{{ prediction_text1 }}</p></center>

            <hr>
            <center><h2 style="color: grey"><i><b style="color: white">{{ course_suggestion1 }}</b></i></h2></center>
            <center><h2 style="color: grey"><i><b style="color: white">{{ course_suggestion2 }}</b></i></h2></center>
            <hr>
          </div>
      </div>
            
      </div>
        <hr>
        <div class="popup" id="popupID">
          <div class="popup__inner">
            <div class="popup__container">
              <!-- <div class="popup__close popup-close" data-popup-close>
                <div class="svg-icon">&#10006;</div>
              </div> -->
              <div class="popup__content">
                <!-- your content -->
                <div class="form">
                  <div class="anchorCon">
                    <ul style="color: white;">
                      <li><div style="font-weight: 700; font-size: 20px; display: inline; color: black;">Technical Support Specialist</div>  is responsible for offering support for hardware and software difficulties in relation to technology. They are professionals at troubleshooting and can resolve a wide range of technological issues, including connectivity problems and non-responsive software.</li>
                      <br>
                      <li><div style="font-weight: 700; font-size: 20px; display: inline; color: black;">Software Engineer / Programmer</div> creates computer operating systems and software. They collaborate with system programmers, analysts, and other engineers to design systems, project capabilities, and choose performance interfaces.</li>
                      <br>
                      <li><div style="font-weight: 700; font-size: 20px; display: inline; color: black;">Academician</div> is an IT/CS Professor, Lecturer or Teacher that entails sharing knowledge with individuals in a classroom.</li>
                      <br>
                      <li><div style="font-weight: 700; font-size: 20px; display: inline; color: black;">Administrative Assistant</div> a person who is engaged by an individual or in an office to help with paperwork, keep records, set appointments, and do related chores.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </main>
      <script>
        class Popup {
            classPopupShow =  'popup--show';
            classForBody = 'popup-active';
            popup = null;
            closeOnClickOverlay = false;
        
            constructor(options = {}) {
        
              this.closeOnClickOverlay = options?.closeOnClickOverlay || false;
             
              // check if page has vertical scroll
              this.scrollWidthInit();
        
              document.addEventListener('click', e => {
                
                // open
                if (e.target.dataset.popupOpen) {
                  e.preventDefault();
                  this.popup = document.getElementById(e.target.dataset.popupOpen);
                  this.show();
                }
        
                // close
                if (e.target.hasAttribute('data-popup-close') ||
                   (e.target.closest('.popup__close') && e.target.closest('.popup__close').hasAttribute('data-popup-close')) ||
                   (this.closeOnClickOverlay && e.target.classList.contains('popup__content'))
                ){
                  e.preventDefault();
                  this.hide();
                }
              })
            }
        
            scrollWidthInit() {
        
              function existVerticalScroll() {
                let vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0),
                    sh =  document.body.scrollHeight;
        
                return sh > vh ? true : false;
              }
        
              let div = document.createElement('div');
          
              div.style.overflowY = 'scroll';
              div.style.width = '50px';
              div.style.height = '50px';
          
              document.body.append(div);
          
              let scrollWidth = div.offsetWidth - div.clientWidth;
          
              div.remove();
        
              if (existVerticalScroll()) {
                document.documentElement.style.setProperty('--scroll-width', scrollWidth + 'px');
              }
            }
        
            show() {
              
              if (this.popup) {
                this.popup.classList.add(this.classPopupShow);
              }
        
              document.body.classList.add(this.classForBody);
            }
        
            hide() {
        
              if (this.popup) {
                this.popup.classList.remove(this.classPopupShow);
              }
        
              document.body.classList.remove(this.classForBody);
            }
          }
        
          new Popup({
            closeOnClickOverlay: true, // if you want popup to be closed after click on overlay (default: false)
          });
    </script>
</body>
</html>

<style>
/* global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,700&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #18290c, #3d632b, #2a3e24);
  color: #c2c8cf;
}

.main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.job_label1{
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
  color: white;
}
.job_label2{
  font-size: 38px;
  font-weight: 1000;
  line-height: 1em;
  color: black;
}

/* HEADER */
a{
  font-size: large;
  color: #c2c8cf;
  text-decoration: none;
}
.anchorCon{
  display: flex;
  justify-content: center;
  column-gap: 35px;
}
.pred_label1{
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
  z-index: 1;
  color: white;
}
.infoCS{
  background: linear-gradient(to bottom, #18290c, #3d632b, #2a3e24);
  border-radius: 5em;
  padding: .5em;
  width: 25px;
  height: auto;
  position: relative;
  left: 95%;
  text-decoration: none;
}
.btn{
  background-color: transparent;
  color: white;
  width: 25px;
  border-radius: 5em;
  border-color: #F9FAF8;
  font-weight: 700;
}
.btn:hover{
  font-size: .9rem;
  cursor: pointer;
  transition: 1.0s;
  border-color: black;
  color: black;
}
.csDep{
  background-color: #18A558;
  border-radius: 5px;
  border-color: black;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.anchorCon .csDep:hover{
  font-size: 1.5rem;
  cursor: pointer;
  transition: 1.0s;
  border-color: black;
  color: black;
}

.header {
  /*background: linear-gradient(to bottom, #18290c, #3d632b, #2a3e24);*/
  background: linear-gradient(to bottom, #18290c, #3d632b, #2a3e24);
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.logo {
  -webkit-text-stroke: .1px black;
  position: relative;
  right: 15%;
  font-size: 24px;
  color: #F9FAF8;
}

.nav a{
  
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 300;
  margin: 10px;
  padding: 5px;
}
/*PopUp Start*/
#wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
}
#wrapper main {
  margin: auto;
  text-align: center;
}

/* button {
  margin-top: 10rem;
  padding: 0.5em 1em;
  background-color: #121212;
  border: 2px solid #eee;
  font-size: 1.5rem;
  color: inherit;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 13px 27px -5px, rgba(0, 0, 0, 0.7) 0px 8px 16px -8px;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #000;
}
button:active {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 20px -5px, rgba(0, 0, 0, 0.7) 0px 8px 16px -8px;
} */

.page-content {
  max-width: 30rem;
  margin: 10rem auto 0;
  color: #ddd;
  text-align: left;
}

.form {
  width: 100%;
  max-width: 30rem;
  padding: 1.5rem;
  border-radius: 10px;
  background: linear-gradient(to bottom, #2a3e24, #3d632b, #2a3e24);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 13px 27px -5px, rgba(0, 0, 0, 0.7) 0px 8px 16px -8px;
  color: #eee;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}
.popup--show .form {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.form h2 {
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden auto;
}
.popup--show {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.popup__inner {
  width: inherit;
  height: inherit;
}
.popup__container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  min-height: 85%;
}
.popup__content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.popup__close {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.popup-close {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.popup-close:hover {
  opacity: 1;
}

.popup-active {
  overflow: hidden;
}
@media (any-hover: hover) {
  .popup-active {
    padding-right: var(--scroll-width);
  }
}
/*PopUp End*/
/* HERO SECTION */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.ytimg.com/vi/jh7ejR4v2Gw/maxresdefault.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  width: 500px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1em;
  color: white;
}

.subtitle {
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 300;
  margin: 15px 0;
}

.left{
  /* background-color: #90ee92af; */
  background: linear-gradient(to bottom, #18290c, #3d632b, #2a3e24);
  width: auto;
  height: auto;
  max-width:720px;
  max-height:720px;
  padding: 50px;
  margin-left: 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
</style>
{% endblock %}
<h1>asdasdsd</h1>